services:
  - type: web
    name: separation-audio
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.10.0
    disk:
      name: uploads
      mountPath: /app/uploads
      sizeGB: 1
      
